# Directories
/.idea/
/.vscode/
/dist/
.terraform/
__pycache__/
_gen/
node_modules/

# Files
/.envrc
/local.env
/TODO
.DS_Store
.terraform.lock.hcl
terraform.tfvars
terragrunt-local.json

# Patterns
.*.sw[op]
*-generated.tf
*.zip
