<div class="flex flex-col flex-grow">
  <div class="flex-grow-0">

<form id="form" action="">
  <div class="md:flex md:flex-row-reverse">
  <textarea id="text" class="w-full md:flex-grow mb-4 md:ml-4 rounded-md bg-gray-100 border-transparent focus:bg-white focus:border-gray-500">Figlet</textarea>
  <div class="md:flex-none mb-4 grid grid-cols-3 sm:grid-cols-6 md:grid-cols-3 gap-2">
    <div>
      <label for="direction">Direction</label>
    </div>
    <div class="col-span-2">
      <select id="direction" class="w-48 rounded-md bg-gray-100 border-transparent focus:bg-white focus:border-gray-500">
        <option value="auto" selected>auto</option>
        <option value="left-to-right">left-to-right</option>
        <option value="right-to-left">right-to-left</option>
      </select>
    </div>
    <div>
      <label for="justify">Justify</label>
    </div>
    <div class="col-span-2">
      <select id="justify" class="w-48 rounded-md bg-gray-100 border-transparent focus:bg-white focus:border-gray-500">
        <option value="auto" selected>auto</option>
        <option value="center">center</option>
        <option value="left">left</option>
        <option value="right">right</option>
      </select>
    </div>
    <div>
      <label for="width">Width</label>
    </div>
    <div class="col-span-2">
      <input id="width" type="number" value="80" min="10" max="1000" class="w-48 rounded-md bg-gray-100 border-transparent focus:bg-white focus:border-gray-500" />
    </div>
    <div>
      <label for="font">Font</label>
    </div>
    <div class="col-span-2">
      <select id="font" class="w-48 rounded-md bg-gray-100 border-transparent focus:bg-white focus:border-gray-500">
        <option value="acrobatic">acrobatic</option>
        <option value="alphabet">alphabet</option>
        <option value="basic">basic</option>
        <option value="bell">bell</option>
        <option value="big">big</option>
        <option value="caligraphy">caligraphy</option>
        <option value="clb8x8">clb8x8</option>
        <option value="colossal">colossal</option>
        <option value="contessa">contessa</option>
        <option value="cursive">cursive</option>
        <option value="digital">digital</option>
        <option value="double">double</option>
        <option value="eftiwall">eftiwall</option>
        <option value="epic">epic</option>
        <option value="fender">fender</option>
        <option value="fraktur">fraktur</option>
        <option value="gothic">gothic</option>
        <option value="graceful">graceful</option>
        <option value="hollywood">hollywood</option>
        <option value="ivrit">ivrit</option>
        <option value="jazmine">jazmine</option>
        <option value="kban">kban</option>
        <option value="letters">letters</option>
        <option value="linux">linux</option>
        <option value="mini">mini</option>
        <option value="mirror">mirror</option>
        <option value="nancyj">nancyj</option>
        <option value="nvscript">nvscript</option>
        <option value="ogre">ogre</option>
        <option value="os2">os2</option>
        <option value="pebbles">pebbles</option>
        <option value="poison">poison</option>
        <option value="rectangles">rectangles</option>
        <option value="relief">relief</option>
        <option value="roman">roman</option>
        <option value="rot13">rot13</option>
        <option value="script">script</option>
        <option value="slant">slant</option>
        <option value="smkeyboard">smkeyboard</option>
        <option value="speed">speed</option>
        <option value="standard" selected>standard</option>
        <option value="thin">thin</option>
        <option value="ticksslant">ticksslant</option>
        <option value="tinker-toy">tinker-toy</option>
        <option value="trek">trek</option>
        <option value="univers">univers</option>
        <option value="usaflag">usaflag</option>
        <option value="whimsy">whimsy</option>
        <option value="xhelv">xhelv</option>
        <option value="xsbook">xsbook</option>
        <option value="xtty">xtty</option>
      </select>
    </div>
    <div class="col-span-full mx-auto">
      <button type="submit" class="px-4 rounded-lg shadow-md text-white bg-green-500 hover:bg-green-700 focus:outline-none">Render</button>
    </div>
  </div>
{{ if .Site.IsServer }}
    <input id="url" type="hidden" value="http://127.0.0.1:5000/api/figlet/" />
{{ end }}
    </div>
</form>

  </div>
  <pre id="result" class="flex-grow overflow-auto p-4 md:p-8 rounded-md bg-black text-green-500"></pre>
</div>
